.header{
    background-repeat: no-repeat;
    height: calc(100vh - 64.39px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../assets/img/header-img.png");
    border-radius: 0px;
    &__box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFAE2B;
    }
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 80px;
        text-align: center;
        letter-spacing: 1px;
        color: #FFFFFF;
        width: 70%;
        margin: 20px 0;
    }
    &__btn{
        background: #FFAE2B;
        border-radius: 0px;
        color: #000;
        padding: 8px 16px;
        border: none;
    }
}